
#bio-block {
    margin: 5em 0;
}

.bio div {
    margin: 0 16%;
}

.bio img {
    float: left;
    margin-right: 1em;
    width: 16em;
}

.bio p {
    margin: 0;
    text-indent: 3em;
    font-size: 1.25rem;
}

.bio a:link {
    font-weight: bold;
}





.recent-projects {
    text-align: center;
    position: relative;
    margin: 1em 0;
}

.recent-projects h2 {
    font-size: 2rem;
}

.recent-projects h3 {
    margin: 1rem;
    font-size: 1.25rem;
}

.recent-projects-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.recent-projects-item {
    margin-top: 1em;
    margin-bottom: 5em;
}

.recent-projects-item img {
}





@media only screen and (max-width: 1300px) {
    .bio div {
        font-size: 0.75em;
        margin: 0 16%;
    }

    .bio img {
        float: unset;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1em;
    }


    .recent-projects h3 {
        margin: 1rem;
        font-size: 0.6rem;
    }
}
