
.projects {
    text-align: center;
    position: relative;
}

.projects h2 {
    font-size: 2.5rem;
}

.projects h4 {
    font-style: italic;
    font-size: 1rem;
}

.projects-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 5em;
}

.projects-item {
    margin: 0em 2em;
}

.projects-item ul {
    text-align: left;
    width: 256px;
    margin-left: auto;
    margin-right: auto;
}

.projects-item img {
}



@media only screen and (max-width: 1300px) {
    .projects h2 {
        font-size: 4rem;
    }

    .projects h4 {
        font-size: 0.75rem;
    }

    .projects-list {
        display: grid;
        grid-template-columns: unset;
    }

    .projects-item {
        margin: 0em 2em;
    }

    .projects-item h3 {
        font-size: 2rem;
    }

    .projects-item ul {
        width: 50%;
    }

    .projects-item li {
        font-size: 2rem;
    }

    .projects-item img {
        width: 50%;
    }
}
